@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

body {
  margin: 0;
}

.ic_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20px 20px 50px 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: none;
  width: 100%;
  height: 80px;
}

.container-heading {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background: #fff;
  background-image: url(./images/img1.svg);
  background-repeat: no-repeat;
}

.first-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  height: 60px;
  margin: 20px;
}

h1 {
  height: 70px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 0;
}

.introduction {
  margin-right: 75px;
  margin-top: 50px;
  height: auto;
}

div.box {
  height: 50px;
  padding-inline: 16px;
}

.box a {
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 10px;
  color: #fff;
  background: #1a2236;
  height: 50px;
  justify-content: center;
}

.button1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  border: color;
  text-decoration: none;
}

.button1:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.fa-arrow-down-long {
  padding-left: 10px;
}

.geometrybottom {
  background: url("images/image_geometry_2.png") no-repeat;
  background-size: contain;
  height: 50vw;
  left: 0;
  top: 472px;
  align-self: flex-end;
  margin-top: 20px;
  width: 100%;
}

h2 {
  width: 220px;
  height: 30px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

h3 {
  width: 264px;
  height: 16px;
  left: 20px;
  top: 960px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  padding-left: 16px;
  padding-top: 20px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}

ul {
  padding-left: 0;
}

li {
  display: inline-flex;
  flex-direction: row;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.works {
  display: grid;
  background-color: #1a2236;
  height: auto;
  padding-left: 0;
  column-gap: 10px;
  padding-top: 10px;
}

.technology-container {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  margin-top: 10px;
  padding-left: 10px;
}

.item1 {
  padding: 10px;
  padding-right: 20px;
  text-align: center;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
}

.item2 {
  padding: 10px;
  padding-right: 30px;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 10.3334px;
  line-height: 80%;
  font-weight: 300;
  color: #1a2236;
}

.item3 {
  padding: 6px;
  padding-right: 20px;
  text-align: center;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
}

.item4 {
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
  margin-bottom: 15px;
  align-self: center;
  border: 1px solid #fff;
}

div.item4 {
  width: 180px;
  padding: 0;
}

.item4 a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 0;
  color: #fff;
  background: #1a2236;
  height: 45px;
  text-decoration: none;
}

.item4 a:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.fa-arrow-right {
  font-size: 18px;
  padding-top: 2px;
  padding-left: 5px;
}

.second-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  height: 135px;
  margin: 20px;
}

.lfs-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  margin-left: 16px;
  margin-right: 16px;
  list-style: none;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 600;
  margin-top: 30px;
}

.lang {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
  margin-top: 20px;
  min-width: 289px;
  min-height: 289px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #1c528a  url("images/figure1.png") 100% 100% no-repeat;
}

.lang1 {
  height: 10px;
  left: 10px;
  padding-top: 40px;
  padding-bottom: 27px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
}

.lang2 {
  display: flex;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.fram {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
  min-width: 289px;
  min-height: 289px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #e2505c url("images/ic_framework.png") 100% 100% no-repeat;
}

.fram1 {
  width: 142px;
  height: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.fram2 {
  display: flex;
  width: 142px;
  height: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.skill1 {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
  min-width: 289px;
  min-height: 289px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #febf52 url("images/ic_skills.png") 100% 100% no-repeat;
}

.skill2 {
  display: flex;
  height: 10px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}
