@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

.ic_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
  cursor: pointer;
  z-index: 10;
}

.fa-xmark {
  font-size: 2rem;
}

.hide {
  display: none;
  opacity: 0;
  width: 0;
}

.show {
  display: block;
  opacity: 1;
  width: 100%;
}

.check,
.check * {
  border: solid 1px rgb(0, 0, 0);
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: none;
  width: 100%;
  height: 80px;
}

.container-heading {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background: #fff;
  background-image: url(./images/img1.svg);
  background-repeat: no-repeat;
}

.nav-links {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.nav-links a {
  color: #1a2236;
  text-decoration: none;
  padding-inline: 10px;
  padding-top: 10px;
}

.menu-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  background: url(images/image_geometry_menu_1.svg) top no-repeat, url(images/image_geometry_menu_2.svg) bottom no-repeat;
  background-color: white;
  background-size: contain;
}

.menu-mobile > a {
  padding-bottom: 2rem;
  text-decoration: none;
  color: #1a2236;
}

/******************  INTRO  *************/

.first-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  height: 60px;
  margin: 20px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  height: 70px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 100%;
  color: #1a2236;
}

.introduction {
  font-size: 14vw;
  margin-right: 75px;
  height: auto;
}

div.box {
  height: 50px;
}

.box a {
  box-sizing: border-box;
  padding: 16px;
  margin-inline: 20px;
  color: #fff;
  background: #1a2236;
  height: 50px;
  justify-content: center;
}

.button1 {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.button1:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.fa-arrow-down-long {
  padding-left: 10px;
}

.geometrybottom {
  background: url("images/image_geometry_2.png") no-repeat;
  background-size: contain;
  height: 50vw;
  left: 0;
  top: 472px;
  align-self: flex-end;
  margin-top: 20px;
  width: 100%;
}

.geometrydesktop {
  display: none;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  color: #1a2236;
}

h3 {
  width: 264px;
  left: 20px;
  top: 960px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  padding-left: 16px;
  padding-top: 20px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}

li {
  display: inline-flex;
  flex-direction: row;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.works {
  display: grid;
  background-color: #1a2236;
  height: auto;
  padding-left: 0;
  column-gap: 10px;
  padding-top: 0;
}

.technology-container {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  margin-top: 10px;
  padding-left: 10px;
}

.item1 {
  padding: 10px;
  padding-right: 20px;
  text-align: center;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
}

.item2 {
  padding: 10px;
  padding-right: 30px;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 10.3334px;
  line-height: 80%;
  font-weight: 300;
  color: #1a2236;
}

.item3 {
  padding: 6px;
  padding-right: 20px;
  text-align: center;
  background: #98dede;
  border: solid #1a2236 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
}

.item4 {
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
  margin-bottom: 15px;
  align-self: center;
  cursor: pointer;
}

div.item4 {
  width: 180px;
  padding: 0;
}

.see-project {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
  margin-inline: 0;
  margin-bottom: 10px;
  background-color: #1a2236;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
}

.see-project:hover {
  background-color: white;
  color: #1a2236;
}

.fa-arrow-right {
  font-size: 18px;
  padding-top: 2px;
  padding-left: 5px;
}

#aboutme {
  display: flex;
  flex-direction: column;
}

.second-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin: 20px;
}

.lfs-container {
  display: grid;
  margin-right: 16px;
  margin-top: 16px;
  list-style: none;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 600;
  margin-top: 30px;
}

.lang {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #1c528a  url("images/figure1.png") 100% 100% no-repeat;
}

.lang1 {
  height: 10px;
  left: 10px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
}

.lang2 {
  display: flex;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.fram {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #e2505c url("images/ic_framework.png") 100% 100% no-repeat;
}

.fram1 {
  width: 142px;
  height: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.fram2 {
  display: flex;
  width: 142px;
  height: 10px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.skill1 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #febf52 url("images/ic_skills.png") 100% 100% no-repeat;
}

.skill2 {
  display: flex;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.container-contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9fa;
  background-image: url(./images/img1.svg);
  background-repeat: no-repeat;
}

.form-cont {
  max-width: 570px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.get-started {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0;
  height: auto;
  font-size: 70px;
}

.third-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 15px;
}

.desktop-text {
  display: none;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 52px;
  margin-bottom: 20px;
  margin-left: 0;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  height: 15px;
  width: auto;
  margin-top: 2px;
  margin-left: 16px;
  margin-bottom: 4px;
  color: #7d7c84;
}

.input {
  border: 0;
  outline: 0;
  padding-left: 16px;
  height: 84px;
}

.input:focus {
  outline: none !important;
}

.input::placeholder {
  opacity: 0;
}

.input-textarea {
  border: 0;
  outline: 0;
  height: 84px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

#message-label {
  display: none;
}

#message {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

#message-area {
  height: 112px;
  margin-top: 16px;
}

.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 44px;
  margin-left: 0;
  background: #1a2236;
  margin-bottom: 50px;
  padding-inline: 16px;
  padding-top: 15px;
  width: 418px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #fff;
}

.submit-button:hover {
  color: #1a2236;
  background: #fff;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-direction: column;
  background: #1a2236;
  width: 100%;
  align-items: start;
}

.get-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
}

.get-my-resume {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 16px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
  width: 100%;
  padding-right: 6vw;
  background: url(images/ic_link_teal.svg) bottom right no-repeat;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.button3 {
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: #1a2236;
}

.social-links {
  margin-right: 10px;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */

/* ------------------------------------- MODAL WINDOW */

/* --------------------------------------------------------------------- */

.modal-container {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 999999;
  background-color: white;
}

.modal-window {
  height: 100vh;

  /* position: fixed; */

  /* top: 0;
  left: 0; */

  /* background-color: white; */

  /* z-index: 99; */
  overflow-y: scroll;

  /* display: none; */
}

.dani {
  border: 40px solid black;
  z-index: 999;
  margin: 0 auto;
  max-width: 28rem;
}

.pop-work-card {
  display: flex;
  flex-direction: column;
}

.pop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vw;
  padding: 10px;
}

.title {
  font-family: 'Poppins', sans-serif;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 10px;
  margin-top: 0;
  margin-left: 16px;
  color: #1a2236;
  background-color: white;
}

.close-xbtn {
  margin-right: 20px;
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.pop-tech-container {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 27px;
  width: 388px;
  color: #1a2236;
}

.pop-language1,
.pop-language2,
.pop-language3 {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  text-align: center;
  background: #fff;
  border: solid #1a2236 1px;
  color: #1a2236;
}

.pop-img1 {
  padding: 16px;
}

.pop-text {
  font-family: 'Poppins', sans-serif;
  padding: 16px;
}

.live-source-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-live,
.see-source {
  margin-top: 2vw;
  margin-bottom: 5vw;
  justify-content: center;
  padding: 10px;
  width: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background: #fff;
  border: solid #1a2236 1px;
  color: #1a2236;
  cursor: pointer;
  text-decoration: none;
}

.see-live {
  text-align: start;
  width: 250px;
  background: url(images/Unionwc.png) right no-repeat;
  background-position-x: 170px;
}

.see-source {
  text-align: start;
  width: 250px;
  background: url(images/ic_github_white.png) right no-repeat;
  background-position-x: 170px;
}

.pop-desktop-btns {
  display: none;
}

/* ----------------------------------------------------------------------------------------- */

/* --------------------------------DESKTOP-------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: block;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
  }

  .menu-mobile {
    display: none;
  }

  .container-heading {
    background-image: none;
  }

  .introduction {
    font-size: 8vw;
    margin-right: 75px;
    height: auto;
  }

  .fa-bars::before {
    display: none;
  }

  .geometrybottom {
    display: none;
  }

  .intro-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6vw;
    padding-inline: 27px;
    width: 40%;
    right: 0;
    background: url(images/image_dots.svg) right bottom no-repeat;
    background-size: calc(100% / 4);
    margin: 0;
  }

  .geometrydesktop {
    display: flex;
    justify-content: flex-end;
    width: 52vw;
    height: calc(52vw * 1.249);
    background: url(images/image-geometry_1.svg) right no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: calc(34vw / 4);
    padding-top: 50px;
  }

  .first-text {
    width: 76%;
  }

  a.button1 {
    width: 60%;
  }

  #intro {
    display: flex;
    justify-content: flex-start;
  }

  .projects {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas:
      "project-title w w w"
      "w1 geom geom w4w5"
      "w2 w2 geom2 geom2"
      "geom3 geom3 w3 w3";
    margin-top: 90px;
  }

  .projects > .grid-area1 {
    grid-area: project-title;
    transform: rotate(-90deg);
    height: calc(39vw / 4);
    padding-top: 0;
    padding-bottom: 1vw;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    background: url(images/image_dots1.svg) bottom no-repeat;
    background-size: 10vw;
    width: 100%;
  }

  .grid-area1 > h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
    margin-top: -20vw;
    margin-left: 6vw;
  }

  .projects > .w0 {
    grid-area: w;
    width: 64vw;
    margin-inline: -25vw;
  }

  .technology-container {
    padding-bottom: 20px;
  }

  .item4 a {
    display: flex;
    justify-content: flex-start;
  }

  .works {
    background-color: #fff;
  }

  .work-description {
    display: var(--flex);
    width: 100%;
    height: auto;
    visibility: hidden;
    transform: translateY(1);
    position: absolute;
    background-color: #1a2236;
  }

  .works:hover {
    transform: scale(1);
    z-index: 0;
  }

  .works:hover > .work-description,
  .works:focus {
    visibility: visible;
    margin-top: -10vw;
    transform: translateY(22vw);
    transition: ease-in-out 300ms;
  }

  h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 80%;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
  }

  .projects > .w1 {
    grid-area: w1;
    width: 36vw;
    padding-top: 0;
    margin-top: 5vw;
    margin-bottom: -1vw;
  }

  .desktop-geoma {
    grid-area: geom;
    background: url(images/image-geometry_2.svg) no-repeat;
    background-size: 36vw;
    height: 26vw;
    margin-inline: -24.7vw;
  }

  .projects > .w2 {
    grid-area: w2;
    width: 59.7vw;
    margin-bottom: 0;
    margin-top: -10vw;
  }

  .projects > .w3 {
    grid-area: w3;
    width: 27.5vw;
    margin-inline: -1vw;
  }

  .projects > .w4 {
    grid-area: w4w5;
    width: 26.7vw;
    margin-top: 19vw;
  }

  .projects > .w5 {
    grid-area: w4w5;
    width: 26.7vw;
    margin-bottom: 18.5vw;
  }

  .desktop-geomb {
    grid-area: geom2;
    width: 48vw;
    background: url(images/image-geometry_3.svg) no-repeat;
    background-size: 38vw;
    height: 20vw;
    margin-right: -10vw;
  }

  .desktop-geomc {
    grid-area: geom3;
    width: 100%;
    background: url(images/image-geometry_5redblue.svg) no-repeat;
  }

  .desktop-geomd {
    grid-area: geom3;
    width: 100%;
    background: url(images/image-geometry_4yellow.svg) top right no-repeat;
    margin-inline: -1vw;
  }

  /* About me */

  #aboutme {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .about-title {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3vw;
    font-size: 6vw;
  }

  .second-text {
    margin-top: 3vw;
    width: 100%;
  }

  .box {
    width: 100%;
  }

  .lfs-container {
    flex: 1.2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-inline: 3vw;
  }

  .lang {
    height: 25vw;
    width: 25vw;
    background-size: 30%;
    font-size: 1.5vw;
  }

  .lang1 {
    font-size: 1.5vw;
  }

  .lang2 {
    font-size: 1.5vw;
  }

  .fram {
    height: 25vw;
    width: 25vw;
    background-size: 30%;
    font-size: 1.5vw;
    box-sizing: border-box;
  }

  .fram1 {
    font-size: 1.5vw;
  }

  .fram2 {
    font-size: 1.5vw;
  }

  .skill1 {
    height: 25vw;
    width: 25vw;
    background-size: 30%;
    margin-top: -0.8vw;
    font-size: 1.5vw;
    box-sizing: border-box;
  }

  .skill2 {
    font-size: 1.5vw;
  }

  .about-dots-teal {
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    background: url(images/image_dots_with_teal.svg) bottom right no-repeat;
  }

  /* Contact me */

  .container-contact-me {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/image-geometry_6.svg) top left no-repeat, url(images/image-geometry_7.svg) bottom right no-repeat;
    background-size: 20%, 20%;
    background-color: #f9f9fa;
  }

  .get-started {
    font-size: 110px;
    width: fit-content;
  }

  .third-text {
    display: none;
  }

  .desktop-text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
  }

  .desktop-contact-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 0.5vw;
  }

  #message-area {
    width: 100%;
    height: 140px;
    margin-left: 0.5vw;
  }

  .input-textarea {
    width: 95%;
    height: 100px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 16px;
  }

  .submit-button {
    width: 40%;
    margin-inline: calc(60% / 2);
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  .input-label {
    height: 52px;
    margin-bottom: 20px;
    margin-left: 0;
    background: #fff;
    border-radius: 4px;
  }

  .label {
    height: 15px;
    width: auto;
    margin-top: -28px;
    margin-left: 16px;
    margin-bottom: 4px;
    color: #7d7c84;
    background: none;
    padding-bottom: 10px;
  }

  /* Social media */

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links a {
    display: block;
    justify-content: center;
    position: relative;
    margin-inline: 10px;
    padding-top: 10px;
  }

  .nav-links a::after {
    left: 0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .nav-links a:hover::after,
  .nav-links a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .social-links:hover {
    transform: scale(1.5);
  }

  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /**********************  DESKTOP MODAL  ****************/

  .modal-window {
    height: 100vh;

    /* position: fixed; */
    z-index: 99;
    overflow-y: scroll;
    max-width: 800px;
    margin: 0 auto;
  }

  .dani {
    max-width: 48rem;
  }

  .pop-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 40px solid #1a2236;
  }

  .pop-header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vw;
    padding: 10px;
  }

  .title {
    display: flex;
    align-self: flex-start;
    font-size: 3vw;
    font-weight: bold;
    padding: 1px 20px;
    margin-left: 16px;
    margin-top: 2vw;
    margin-right: 75vw;
  }

  .pop-tech-container {
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #1a2236;
  }

  .pop-language1,
  .pop-language2,
  .pop-language3 {
    background: #fff;
    border: solid #1a2236 1px;
    color: #1a2236;
  }

  .pop-img1 {
    padding: 16px;
    width: 60vw;
    height: auto;
  }

  .modal-text-cont {
    width: 60%;
  }

  .pop-text {
    font-size: 20px;
  }

  .live-source-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .see-live {
    text-align: start;
    width: 210px;
    background: url(images/Unionwc.png) right no-repeat;
    background-position-x: 130px;
  }

  .see-source {
    text-align: start;
    width: 210px;
    margin-left: 20px;
    background: url(images/ic_github_white.png) right no-repeat;
    background-position-x: 145px;
  }

  .see-live:hover {
    background-color: #1a2236;
    color: white;
  }

  .see-source:hover {
    background-color: #1a2236;
    color: white;
  }

  .pop-desktop-btns {
    display: flex;
    flex-direction: row;
  }

  .previous-work,
  .next-work {
    margin-bottom: 5vw;

    /* margin-inline: 13vw; */
    width: 221px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    background: #fff;
    border: none;
    cursor: pointer;
  }

  .previous-work .fa-arrow-left {
    margin-right: 10px;
  }

  .next-work .fa-arrow-right {
    margin-left: 10px;
  }
}
